.nav {
  position: sticky;
  top: 0;
  background-color: var(--verde-profundo);
  z-index: 100;
  border-bottom: 2px solid var(--dorado);
  width: 100%;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.logo {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--dorado);
}

@media (max-width: 768px) {
  .navContainer {
    padding: 0 1rem;
  }
}
